.container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(210, 209, 209);
  border-radius: 12px;
  
}




h1,h2,h3,h4,h5,h6 ,a {
  font-family: "Poetsen One", sans-serif;
font-weight: 400;
font-style: normal;
 
}


header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
 

}




nav a {
  text-decoration: none;
 color: black;

}

nav li {
  list-style: none;
}



.newsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}

.newsCard {
  width: 45%; 
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.newsCard img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.copyright{
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
}

.footerLink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

body {
  background-color: grey;
}